body {
  background-color: beige;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.cell.drag-over {
  border: 2px solid yellow;
}

.pieces-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;  
}

.piece {
  display: flex;
  gap: 0;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: yellow;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 500px;
  width: 500px;
  gap: 40px;
}

.rotate-button {
  padding: 20px;
  width: 25%;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #888;
  width: 40%;
}

.modal-content > button {
  padding: 10px;
}